@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*Основные*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

/*Логотип сайта с ссылками навигации*/
.header-nav {
  background-color: #0c73fe;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.navbar {
  height: 75px;
  display: flex;
  justify-content: space-between;
  margin: 0 261px;
  padding: 0 20px;
  align-items: center;
}

/*Стили для логотипа*/
.navbar-logo img {
  max-width: 144px;
  height: 30px;
  object-fit: cover;
}

/*Стили для кнопок навигации*/
.navbar-controls_links {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
.navbar-controls_links a {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*Отдельные стили для кнопок ( сделал небольшую анимацию )*/
.profile {
  height: 40px;
  background-color: #0c73fe;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 3%;
  transition-duration: 0.5s;
  border-radius: 10px;
  cursor: pointer;
}
.buy {
  height: 40px;
  background-color: #0c73fe;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 3%;
  transition-duration: 0.5s;
  border-radius: 10px;
  cursor: pointer;
}
.lang {
  height: 40px;
  background-color: #0c73fe;
  display: flex;
  align-items: center;
  padding: 3%;
  transition-duration: 0.5s;
  border-radius: 10px;
  cursor: pointer;
}
.lang:hover,
.buy:hover,
.profile:hover {
  border-radius: 10px;
  transition-duration: 0.8s;
}

/*Сама шапка сайта*/
.header {
  width: 100%;
  padding: 100px 20px 0;
  margin: 0 0 30px;
  background-color: #0c73fe;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 20;
}

/*Стили для текста и навигации*/
.header-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  margin-bottom: 20px;
  font-weight: 700;
}
.header-title-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  font-size: 17px;
  font-weight: 600;
}
.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-links a {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*Более подробные стили для текста ( тут тоже анимация при  навидении )*/
.bileti {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 1%;
  border-radius: 20px;
  color: #0c73fe;
  font-weight: 600;
}
.hostels {
  text-align: center;
  background-color: #0c73fe;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 1%;
  transition-duration: 0.5s;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}
.buisness {
  background-color: #0c73fe;
  display: flex;
  align-items: center;
  padding: 1%;
  transition-duration: 0.5s;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.buisness:hover,
.hostels:hover {
  background-color: rgb(205, 212, 222);
  background: rgba(205, 212, 222, 0.5);
  border-radius: 20px;
  transition-duration: 0.8s;
}

/*Хотел сделать побольше пространства*/
.header-bg {
  height: 100px;
  background-color: #0c73fe;
}

/*Блок с инфой , самый прикольный в этой верстке*/
.header-information-block {
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 25;
  margin: -90px auto 0 auto;
  max-width: 730px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.header-information {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 16px 16px;
}
.header-information-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 256px;
}
.header-information-text hr {
  margin-top: 5px;
  border: none;
  background-color: #b983f1;
  width: 95px;
  height: 4px;
  border-radius: 10px;
}
.header-information-text h2 {
  font-size: 26px;
}
.header-information-text p {
  font-size: 17px;
  margin-top: 20px;
}

/*Этот див , заставил написать дофига строчек...*/
.button {
  margin-top: 53px;
  background-color: #fff;
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  transition-duration: 0.3s;
  font-weight: 600;
  max-width: 195px;
  height: 50px;
  padding: 3%;
  border-radius: 15px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(170, 175, 183);
  background: rgba(205, 212, 222, 0.9);
  border-radius: 15px;
  transition-duration: 0.3s;
}
.header-information-img img {
  border-radius: 20px;
}

/*Самая красивая штука :)*/
.welcome {
  margin-top: 50px;
}
.welcome-video video {
  width: 800px;
  border-radius: 20px;
}
.welcome-video {
  margin-left: 110px;
}
.welcome-content {
  display: flex;
  justify-content: space-between;
}
.welcome-title p {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1%;
  transition-duration: 0.5s;
  border-radius: 20px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.1875rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 50px;
  cursor: pointer;
}
.welcome-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
  margin-right: 110px;
}
.fa-link {
  margin-left: 15px;
}
.fa-user,
.fa-ticket,
.fa-language {
  color: #fff;
  margin-right: 15px;
}
.welcome-title p:hover {
  background: rgba(205, 212, 222, 0.5);
  border-radius: 20px;
  transition-duration: 0.3s;
}

/*Тут мы применим карточки , уффф*/
.content {
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 80px 0 0;
}
.content-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.content-title_title {
  text-align: center;
  margin: 20px auto;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 2.75rem;
  font-variant-numeric: lining-nums;
}

.content-title_text {
  text-align: center;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.5625rem;
  margin: 15px auto 20px;
}
.content-cards {
  display: flex;
  justify-content: center;
  margin: 30px auto 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card,
.kabinet,
.motel {
  display: flex;
  flex-flow: column nowrap;
  width: 230px;
  height: 290px;
  padding: 20px;
  border-radius: 10px;
  transition-duration: 0.3s;
  margin-left: 20px;
}
.card img,
.kabinet img,
.motel img {
  margin: 0 auto;
}

.content-cards p {
  font-size: 16px;
  font-weight: 400;
  line-height: 0.875rem;
  margin: 0 5px;
}

.content-cards h3 {
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.375rem;
  margin: 10px 5px 5px;
}

.content-cards a {
  color: #0c73fe;
  font-size: 12px;
  background-color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  transition-duration: 0.3s;
  font-weight: 600;
  max-width: 195px;
  height: 50px;
  padding: 3%;
  border-radius: 10px;
  border: 1px solid #0c73fe;
  justify-content: center;
  margin-top: 10px;
}
.content-cards a:hover {
  color: #fff;
  background-color: #0c73fe;
}
.card:hover,
.kabinet:hover,
.motel:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition-duration: 0.3s;
  border-radius: 10px;
}
.fa-telegram,
.fa-twitter,
.fa-instagram,
.fa-facebook,
.fa-vk {
  color: #0c73fe;
  margin-right: 5px;
}
.links a {
  color: #0c73fe;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.links {
  margin-right: 200px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
  border-radius: 20px;
  font-weight: 600;
}
.footer {
  display: flex;
  justify-content: center;
}
.footer-links {
  display: flex;
  align-items: center;
  height: 100px;
}
.links:last-child {
  margin-right: 0;
}
